- content_for :title, 'Player Rankings'
.row
  .span6
    %table.table.table-striped
      - players = Player.order('rating desc, name asc')
      %thead
        %tr
          %th #
          %th Name
          %th GP
          %th Rating
          %th Streak
      %tbody
        - last_rating = false
        - rank = 1
        - players.each do |player|
          %tr
            %td= rank if player.rating != last_rating
            - rank += 1 if player.rating != last_rating
            - last_rating = player.rating
            %td
              - if player.winning_streak > 2
                %span.label.label-important ON FIRE
              - if player.losing_streak > 1
                %span.label LOSING
              = player.name
            %td= player.games.count
            %td= player.rating
            %td= player.streak
