.navbar
  .container
    %a.brand{ href: "/" } PingPongPanda
    .nav-container
      %ul.nav
        %li.nav-item#nav-rankings
          = link_to 'Rankings', ranking_players_path, { 'data-content' => 'rankings' }
        %li#nav-newgame
          = link_to 'Record Game', '#', { 'data-content' => 'new-game' }
        %li#nav-fullscreen
          = link_to 'Fullscreen', '#'
        - if current_player
          %li.nav-item#nav-logout
            = link_to 'Log out', sessions_path, method: :delete
        - else
          %li.nav-item#nav-login
            = link_to 'Authenticate with Google', '/auth/google_oauth2'
