- content_for :title, 'Player Rankings'
- players = Player.order('score desc, name asc')
.row
  .span4
    %table.table.table-striped
      %thead
        %tr
          %td #
          %td Name
          %td GP
          %td Score
      %tbody
        - last_score = false
        - rank = 1
        - players.each do |player|
          %tr
            - if player.score == last_score
              %td= ''
            - else
              %td= rank
              - rank += 1
            - last_score = player.score
            %td= player.name
            %td= player.games.count
            %td= player.score
