- @game ||= Game.new
= form_for @game, :html => {:class => 'default-form'} do |games|
  - player_options = [['-', nil]] + Player.order('name ASC').map do |player|
    - [player.name, player.id]

  .overlay
    %ul.player-list{ :data => { 'team' => 1 } }
      - Player.order('name ASC').each do |player|
        %li= render player

    .selected
      #team-1.team{ :data => { 'team-id' => 1 } }
        %h2 Team 1
        %ul.selected-players
      #team-2.team{ :data => { 'team-id' => 2 } }
        %h2 Team 2
        %ul.selected-players

      .enter-score
        .game{:data => {:game => '1'}}
          .team
            %input#game1_team1_score.score{:name => 'game1[team1][score]', :type => 'number'}
            .default-score
              %a{:href => '#'} 11
              %a{:href => '#'} 21

          .team
            %input#game1_team2_score.score{:name => 'game1[team2][score]',:type => 'number'}
            .default-score
              %a{:href => '#'} 11
              %a{:href => '#'} 21

      .buttons
        %input.btn.add-game{:type => 'submit', :value => '+ Add game'}
        %input.btn{:type => 'submit', :value => 'Submit score(s)'}

    %ul.player-list{ :data => { 'team' => 2 } }
      - Player.order('name ASC').each do |player|
        %li= render player

  .hide
    - (1..2).each do |i|
      - (1..2).each do |j|
        = fields_for "team#{i}_player#{j}", Player.new do |player|
          = select "team#{i}_player#{j}", 'id', player_options, {}, :tabindex => (i-1)*2+(j)

:javascript
  // Get rid of these pesky sparklines (cluttering up my JS console)
  $('.player-list .spark_line').remove()

  // Function to keep players select boxes in sync with the selected players.
  function refresh_players() {
    $.each(['#team1_player1_id', '#team1_player2_id', '#team2_player1_id', '#team2_player2_id'], function(e) {
      $(e).val(null)
    })
    var teams = new Array()
    teams[1] = '#team-1 .selected-players .player'
    teams[2] = '#team-2 .selected-players .player'
    $.each(teams, function(teamId,e){
      elm = $(e)
      if (elm.slice(0))
        $('#team' + teamId + '_player1_id').val(elm.slice(0).attr('data-player-id'))
      if (elm.slice(1))
        $('#team' + teamId + '_player2_id').val(elm.slice(1).attr('data-player-id'))
    })
  }

  // Select players
  $('.player-list .player').click(function(e){
    e.preventDefault();
    var elm = $(this),
        playerId = elm.attr('data-player-id'),
        teamId = elm.parents('ul').attr('data-team')
        teamContainer = 'team-' + teamId

    // Change last player
    if($('#'+ teamContainer + ' li').length == 2){
      $('#'+ teamContainer + ' li:eq(1) .player').click()
    }

    // Set Selected player
    $('#' + teamContainer).find('.selected-players').append(elm.parent().clone())

    // Hide the selected player (but don't take him out of the flow)
    $('.player-list [data-player-id="' + playerId + '"]').css('visibility', 'hidden')

    // Refresh the select boxes
    refresh_players()

    // Event for removing selected player
    $('.selected-players .player').click(function(e){
      e.preventDefault();
      big_elm = $(this)
      playerId = big_elm.attr('data-player-id')
      big_elm.parent().remove()
      $('.player-list [data-player-id="' + playerId + '"]').css('visibility', 'visible')
      refresh_players()
    })
  })

  // Set Default Score
  $('.default-score a').click(function(e){
    e.preventDefault();
    $(this).closest('.team').find('input').val($(this).text())
  })


  // Add new game record
  $('.add-game').click(function(e){
    e.preventDefault();
    var gameId = $('.enter-score .game').length + 1,
    data = '<div class="game" data-game="' + gameId + '">'
            + '<div class="team">'
              + '<input id="game' + gameId + '_team1_score" name="game' + gameId + '[team1][score]" class="score" type="number">'
              + '<div class="default-score">'
                +'<a href="#">11</a>'
                +'<a href="#">21</a>'
              + '</div>'
            +'</div>'
            + '<div class="team">'
              + '<input id="game' + gameId + '_team2_score" name="game' + gameId + '[team2][score]" class="score" type="number">'
              + '<div class="default-score">'
                +'<a href="#">11</a>'
                +'<a href="#">21</a>'
              + '</div>'
            +'</div>'
          +'</div>'
    if(gameId <= 7){
      $('.enter-score').append(data);
    } else {
      $(this).addClass('disabled');
    }
    // Set Default Score
    $('.default-score a').click(function(e){
      e.preventDefault();
      $(this).closest('.team').find('input').val($(this).text())
    })
  })
