= form_for @game do |games|
  = games.hidden_field :id
  - player_options = [['-', nil]] + Player.order('name ASC').map do |player|
    - [player.name, player.id]

  .row
    - (1..2).each do |i|
      .span4
        %h3= "Team #{i}:"
        - (1..2).each do |j|
          = fields_for "team#{i}_player#{j}", Player.new do |player|
            = select "team#{i}_player#{j}", 'id', player_options, {}, :tabindex => (i-1)*2+(j)

  - num_games = @game.new_record? ? 7 : 1
  - (1..num_games).each do |i|
    %div{ :class => (i > 1 ? 'hide' : '') << ' games_input', :id => "game_#{i}" }
      .row
        - (1..2).each do |j|
          .span4
            .row
              .span4.input-append
                = fields_for "game#{i}" do |game|
                  = game.fields_for "team#{j}" do |team|
                    = team.text_field :score, :class => 'span1', :placeholder => 'Score', :tabindex => 5
                    %button.btn{ :id => "score_#{i}_#{j}_11" } 11
                    %button.btn{ :id => "score_#{i}_#{j}_21" } 21
                    - score_button_script "score_#{i}_#{j}_11", "game#{i}_team#{j}_score", 11
                    - score_button_script "score_#{i}_#{j}_21", "game#{i}_team#{j}_score", 21
          - if i == 1 && j == 2 && @game.new_record?
            .span2
              %button.btn{ :id => 'more_games' }
                %i.icon-plus
                - buffer_script "$('#more_games').click(function(e) { e.preventDefault(); $('.hide.games_input').first().removeClass('hide')})"
              %button.btn{ :id => 'fewer_games' }
                %i.icon-minus
                - buffer_script "$('#fewer_games').click(function(e) { e.preventDefault(); if($('.games_input:not(.hide)').length > 1) $('.games_input:not(.hide)').last().addClass('hide').find('input').val(null)})"

  .row
    .span4.offset4
      = games.submit :class => 'btn btn-primary'
      - buffer_script "$('#new_game').submit(function(e) {$('#new_game').find('.btn-primary').addClass('disabled').attr('disabled', true)});"
