= form_for @game do |game|
  = game.hidden_field :id
  - player_options = [['-', nil]] + Player.order('name asc').map do |player|
    - [player.name, player.id]

  %h3 Team 1: 
  .row
    .span4
      = select 'game', 'team1_player1_id', player_options
      = select 'game', 'team1_player2_id', player_options
      .row
        .span4
          Score:
          = game.text_field :team1_score, :class => 'span1'
    .span1
      VS
    .span4
      = select 'game', 'team2_player1_id', player_options
      = select 'game', 'team2_player2_id', player_options
      .row
        .span4
          Score:
          = game.text_field :team2_score, :class => 'span1'
  .row
    .span9
      = game.submit :class => 'btn btn-primary'
