= form_for @game do |game|
  = game.hidden_field :id
  - player_options = [['-', nil]] + Player.order('name asc').map do |player|
    - [player.name, player.id]

  %h3 Team 1: 
  .row
    .span4
      = fields_for :team1_player1, Player.new do |player|
        = select 'team1_player1', 'id', player_options

      = fields_for :team1_player2, Player.new do |player|
        = select 'team1_player2', 'id', player_options
      .row
        .span4
          Score:
          = fields_for :team1, Team.new do |team|
            = team.text_field :score, :class => 'span1'
    .span1
      VS
    .span4
      = fields_for :team2_player1, Player.new do |player|
        = select 'team2_player1', 'id', player_options

      = fields_for :team2_player2, Player.new do |player|
        = select 'team2_player2', 'id', player_options
      .row
        .span4
          Score:
          = fields_for :team2, Team.new do |team|
            = team.text_field :score, :class => 'span1'
  .row
    .span9
      = game.submit :class => 'btn btn-primary'
