%table.matrix
  %colgroup
  -players.each do |player|
    %colgroup
  %thead
    %tr
      %th{ :colspan => players.count + 1 }
        Opponent
    %tr
      %th
        Player
      -players.each do |player|
        %th.player
          %span{:title => player.name}= player.name
  %tbody
    -players.each do |player|
      %tr
        %th.player
          %span{:title => player.name}= player.name
        -players.each do |opponent|
          -if player == opponent
            %td.empty/
          -else
            -possibilities = player.ranking_algorithm.possible_results(player.rating, opponent.rating)
            %td.score{:title => "#{number_to_human(possibilities[0][0])} / #{number_to_human(possibilities[0][1])}" }
              %strong
                = number_to_human(possibilities[0][0], :precision => 0)
