- extra_column = Game.newer_than(5.minutes.ago).present?


.last-game
  .panda-game-wrapper.flipped
  .game-result
    .team.team-left
      %span.player Peter
      .meta-info
        %span.score-gained +32
        %span.score 1450
    .scoreboard
      .score.score-left
        21
      .score.score-right
        19
    .team.team-right.lost
      %span.player Daniel
      .meta-info
        %span.score-gained -32
        %span.score 1450

.game-list
  - games = Game.order('created_at DESC').limit(15)
  - games.each do |game|
    .game-result{ :class => game.created_at > 5.minutes.ago ? 'success' : '' }
      - teams = game.teams
      .team.team-left
        - team = game.teams[0]
        %span.player= team.players.map(&:name).to_sentence
        = results_badge(team)
      .scoreboard
        .score.score-left= game.teams[0].score
        .score.score-right= game.teams[1].score
      .team.team-right
        = results_badge(game.teams[1])
        %span.player= game.teams[1].players.map(&:name).to_sentence


/ %table.table.table-striped.table-bordered.table-condensed
/   %thead
/     %tr
/       %th/
/       %th Score
/       %th/
/       - if extra_column
/         %th
/   %tbody
/     - games = Game.order('created_at DESC').limit(15)
/     - games.each do |game|
/       %tr{ :class => game.created_at > 5.minutes.ago ? 'success' : '' }
/         - teams = game.teams
/         %td.span2{ :style => 'text-align: right' }
/           - team = game.teams[0]
/           = team.players.map(&:name).to_sentence
/           = results_badge(team)
/         %td.span1{ :style => 'text-align: center' }
/           = "#{game.teams[0].score}-#{game.teams[1].score}"
/         %td.span2
/           = results_badge(game.teams[1])
/           = game.teams[1].players.map(&:name).to_sentence
/         - if extra_column
/           %td
/             - if game.created_at > 5.minutes.ago
/               = link_to game_path(game), :method => 'delete' do
/                 %span.icon-remove
