- extra_column = Game.newer_than(5.minutes.ago).present?
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th/
      %th Score
      %th/
      - if extra_column
        %th
  %tbody
    - games = Game.order('created_at DESC').limit(15)
    - games.each do |game|
      %tr{ :class => game.created_at > 5.minutes.ago ? 'success' : '' }
        %td.span2{ :style => 'text-align: right' }
          - team = game.teams.first
          = team.players.map(&:name).to_sentence
          = results_badge(team)
        %td.span1{ :style => 'text-align: center' }
          = "#{game.teams.first.score}-#{game.teams.second.score}"
        %td.span2
          - team = game.teams.second
          = results_badge(team)
          = team.players.map(&:name).to_sentence
        - if extra_column
          %td
            - if game.created_at > 5.minutes.ago
              = link_to game_path(game), :method => 'delete' do
                %span.icon-remove
