- content_for :title, 'Player Rankings'
- players = Player.order('rating desc, name asc')
%ul.nav.nav-tabs
  %li#nav-ranking
    = link_to '#ranking' do
      Ranking List
  %li#nav-possibility-matrix
    = link_to '#possibility-matrix' do
      Point Potentials
  %li#nav-history-graph.hide
    = link_to '#history-graph' do
      Rating History Graph
.row
  .span6
    .row#ranking
      .span6
        = render :partial => 'ranking', :locals => { :players => players }
    .row#possibility-matrix
      .span6
        %h3 Point Potential Matrix
        = render :partial => 'possibility_matrix', :locals => { :players => players }

  .span5.pull-right#recent-games
    %h3 Recent Games
    = render 'recent_games'

  .span11#history-graph.hide
    %h3 Rating History
    = render :partial => 'rating_history', :locals => { :players => players }

-buffer_script "$('#nav-ranking a').click();"
