- content_for :title, @player.name
.row
  .span9
    %h3 Recent games
    - @player.games.order('created_at desc').where(:created_at => 30.days.ago..Time.now).each do |game|
      .row
        .span9
          - if game.winners.include? @player
            %span.label.label-success WON
            - if game.winners.count > 1
              - teammate = (game.winners - [@player]).first
              = "with #{link_to teammate.name, teammate}".html_safe
            = "against #{game.losers.map{|winner| link_to(winner.name, winner)}.to_sentence}".html_safe
            = "(#{game.winning_score}-#{game.losing_score})"
          - else
            %span.label.label LOST
            - if game.losers.count > 1
              - teammate = (game.losers - [@player]).first
              = "with #{link_to teammate.name, teammate}".html_safe
            = "against #{game.winners.map{|winner| link_to(winner.name, winner)}.to_sentence}".html_safe
            = "(#{game.losing_score}-#{game.winning_score})"
