!!!
%html
  %head
    %title PingPongGuru
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}
    /%link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap.css", :rel => "stylesheet"}
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body.preload
    = render 'shared/navbar'
    .container
      = yield
    .footer
= javascript_include_tag 'application'
%script
  = print_buffered_scripts
